body {
    background: #fbfaf5;
    font-family: 'Poppins', sans-serif;
}

.hero {
    text-align: center;
}

h1 {

}

h4 {
    font-weight: 400;
}

p {
    font-size: smaller;
}

.calorie-form {
    border-radius: 5px;
    border-style: groove;
    padding: 5px;
}

footer {
    width: 100%;
    font-size: small;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
