body {
    background: #fbfaf5;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.hero {
    text-align: center;
}

.form-section {
    display: grid;
    justify-content: center;
    width: max-content;
    text-align: center;               
}

form {
    border-radius: 15px;
    border-style: none;
    display: grid;
    justify-content: center;
    max-width: 100vw;
    width: 450px;
    margin-top: 50px;
    padding: 15px;

}

.field {
     border: none;
     -webkit-appearance: none;
     -ms-appearance: none;
     -moz-appearance: none;
     appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
}

.field:focus::placeholder {
    color: transparent;
}

.field::placeholder {
    color: #222;
    transition: color 0.3s ease;
}

.custom-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.custom-field input {
    background: none;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
}

.custom-field input:valid,
.custom-field input:focus {
    border-color: #222;
    transition-delay: 0.1s;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
    top: 20px;
    font-size: 10px;
    background: white;
    color: #222;
    padding: 0 5px;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
    top: 20px;
    background: white;
    padding: 0 5px;

}

/* .custom-select {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #888;
}

.custom-select select {
    width: 200px;
    min-height: 35px;
    background: #cbe7ff;
    border-radius: 3px;
    border: 2px solid #2196f3;
    outline: none;
} */

button {
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: max-content;
}

footer {
    width: 100%;
    font-size: small;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
